@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
background-image: url(./bilder/bg.svg);
font-family: 'Lato', sans-serif;
}
div.container{
width: 90%;
margin: auto;
}
h1 {
    color: rgb(173, 0, 0);
    text-align: center;
    margin-bottom: 15px;
}
h2 {
text-align: center;
margin-bottom: 15px;
}
div.box{
background: white;
border-radius: 0 0 15px 15px;
}
img {
width: 100%;
border-radius: 15px 15px 0 0 ;

}
h3 {
text-align: center;
}
p {
padding: 20px;
}
div.columner{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
